.blog {
  color: var(--ivory);
  height: 75vh;
  margin: 1rem auto;
  overflow: scroll;
  width: 50%;
  .entry {
    border: 1px solid var(--redwood);
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 1rem;
    margin: 1rem;
    .post {
      margin: 1rem 0;
      text-align: left;
      line-height: 1.25rem;
    }
  }
}

.post p {
  margin-top: .75rem;
}
