.body {
  background-color: var(--khaki);
}

/* Nav */
.navContainer {
  position: relative;
  .navBar {
    background-color: var(--english-violet);
    padding: 1.5rem;
    text-align: center;
    .nav {
      .navList {
        display: flex;
        justify-content: space-between;
        list-style: none;
        .navListItem {
          .navLink {
            color: var(--redwood);
            font-size: 1.25rem;
            font-family: Helvetica, Arial, sans-serif;
          }
        }
      }
    }
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--english-violet);
    transform-origin: bottom right;
    z-index: -1;
    transform: skewY(1.5deg);
  }
}

/* Content */

.container {
  margin: 10rem 0;
}

.asymmetric {
  width: 100%;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--english-violet);
    transform-origin: top left;
    z-index: -1;
    transform: skewY(-1.5deg);
  }
}

.mainContent {
  margin: 10rem 0;
  text-align: center;
  background-color: var(--english-violet);
  padding: 1.5rem 0;
}

@keyframes pulse {
  0% {
    color: var(--ivory);
    text-shadow: 0 0 3px var(--ivory), 0 0 8px var(--ivory),
      0 0 15px var(--ivory), 0 0 42px var(--redwood), 0 0 82px var(--redwood),
      0 0 92px var(--redwood), 0 0 102px var(--redwood),
      0 0 130px var(--redwood);
  }
  100% {
    color: var(--ivory);
    text-shadow: 0 0 1px var(--ivory), 0 0 3px var(--ivory),
      0 0 7px var(--ivory), 0 0 18px var(--redwood), 0 0 36px var(--redwood),
      0 0 40px var(--redwood), 0 0 55px var(--redwood), 0 0 70px var(--redwood);
  }
}

.neon {
  font-size: 4rem;
  color: var(--ivory);
  text-shadow: 0 0 3px var(--ivory), 0 0 8px var(--ivory), 0 0 15px var(--ivory),
    0 0 42px var(--redwood), 0 0 82px var(--redwood), 0 0 92px var(--redwood),
    0 0 102px var(--redwood), 0 0 130px var(--redwood);
  animation: pulse 1s 10 alternate;
}

.info {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--ivory);
  font-size: 1.1rem;
  margin: 2rem 0;
  .outsideLink {
    color: var(--redwood);
  }
}

@media (min-width: 1177px) {
  .navContainer {
    .navBar {
      .nav {
        padding: 0 25rem;
      }
    }
  }
}
