.startModal {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: white;
  opacity: 50%;
  .start {
    border: 1px solid black;
    background-color: black;
    color: white;
    opacity: 100%;
    margin: auto;
  }
}

.control {
  border: 1px solid black;
  padding: 1rem;
  .wave {
    border: 1px solid black;
  }
}

.container {
  height: 20rem;
  background-color: brown;
}

.module {
  border: 1px solid black;
  display: flex;
}

.white {
  border: 1px solid black;
  background-color: white;
  flex-grow: 2;
  cursor: pointer;
}

.black {
  background-color: black;
  color: white;
  height: 50%;
  flex-grow: 1;
  cursor: pointer;
  z-index: 2;
  display: inline;
}

.keyboard {
  display: flex;
  height: 8rem;
  flex-grow: 1;
}

.controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wave {
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  text-align: center;
}

.button {
  background-color: white;
  border: 1px solid black;
  padding: .5rem;
  margin: .5rem;
}

.pressed {
  background-color: blue;
}

